@import '../../styles/utils.scss';

.wthdrawalpage-wrapper {
    padding: 4.6rem 3.1rem;
    .wthdrawalpage-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .img {
            flex: 1;
            display: block;
            width: 1.938rem;
            height: 1.938rem;
        }
        div {
            flex: 1;
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 2.5rem, 2.5rem, #292733);
        }
    }
    .withdrawalpage-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        img {
            flex: 1;
            align-items: center;
            margin-top: 5rem;
            //padding-top: 6rem;
            //padding-left: 6rem;
            //padding-right: 6rem;
            //padding-bottom: 1rem;
            width: 20rem;
        }
        p {
            flex: 1;
            display: block;
            text-align: center;
            @include font-face(NotoSansKR-Regular, 2.3rem, 2.5rem, #292733);
        }
        .withdrawal-btn {
            display: flex;
            flex-direction: row;
            //flex: 1;
            justify-content: space-around;
            //padding-left: 5rem;
            .yes {
                margin: 1rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                background-color: #c4c4c4;
                border-radius: 10px;
                text-align: center;
                @include font-face(NotoSansKR-Regular, 2rem, 2.5rem, #ffffff);
            }
            .no {
                margin: 1rem;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                background-color: #7b88f2;
                border-radius: 10px;
                text-align: center;
                @include font-face(NotoSansKR-Regular, 2rem, 2.5rem, #ffffff);
            }
        }
    }
}