@import '../../styles/utils.scss';

.openchattingpage-wrapper {
    padding: 0 1.5rem;
    margin-top: 3rem;
    .input-area {
        width: 100%;
        height: 4rem;
        display: flex;
        margin-bottom: 2rem;
        textarea {
            flex: 6;
            resize: none; // 사이즈 resize X
            border: none;
            font-family: 'NotoSansKR-Regular';
            background-color: #e0e0e0;
            border-radius: 1.2rem;
        }
        textarea:focus {
            // textarea 클릭 후, focusing 되는 현상 방지
            outline: none;
            background-color: #f6f6f6;
        }
        div {
            flex: 1;
            margin-left: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                height: 100%;
            }
        }
    }
    .openchatting-list {
        padding-bottom: 3rem;
    }
}
