@import '../../../styles/utils.scss';
.chattingroomheader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    div:nth-child(odd) {
        height: 80%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 100%;
        }
    }
    div:nth-child(even) {
        height: 80%;
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #7b88f2;
        border-radius: 1.2rem;
        @include font-face('NotoSans-KR', 1.8rem, 0, #ffffff);
    }
}
