@import '../../styles/utils.scss';

.inquirypage-wrapper {
    padding: 4.6rem 3.1rem;
    .inquirypage-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        .img {
            padding: 0.813rem;
            display: block;
            width: 1.938rem;
            height: 1.938rem;
        }
        div {
            padding: 0 0 0 8rem;
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 2.5rem, 2.5rem, #292733);
        }
    }
    .inquirypage-content {
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        select {
            margin: 1rem;
        }
        input {
            margin: 1rem;
            border: 0.063rem solid #000000;
            width: 9rem;
        }
        button {
            margin: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            background-color: #7b88f2;
            text-align: center;
            @include font-face(NotoSansKR-Regular, 0.5rem, 2.5rem, #ffffff);
        }
    }
}