@import '../../styles/utils.scss';

.manualpage-wrapper {
    display: flex;
    flex-direction: column;
    .manualpage-header {
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        p {
            padding-left: 11rem;
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 2rem, 2.5rem, #292733);
        }
        img {
            padding-left: 8rem;
            padding-top: 2rem;
            display: block;
            width: 2.3rem;
            height: 2.3em;
        }
    }
    .manualpage-content {
        .main-info {
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
        }
        .function-info {
            h3 {
                padding-left: 2rem;
                padding-top: 2rem;
                text-align: left;
                font-weight: bold;
                @include font-face(NotoSansKR-Regular, 1.2rem, 2.5rem, #292733);
            }
            .community-header {
                padding-top: 0.5rem;
            }
            .bus-info {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.1rem, 2.5rem, #292733);
            }
            .taxi-info {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.1rem, 2.5rem, #292733);
                h4 {
                    font-weight: bold;
                    @include font-face(NotoSansKR-Regular, 1.1rem, 2.5rem, #292733);
                }
                p {
                    padding-bottom: 1.5rem;
                }
            }
            .community-info {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.1rem, 2.5rem, #292733);
            }
        }
    }
}