@import '../../styles/utils.scss';

.manualpage-wrapper {
    .manualpage-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding: 0 2rem;
        .layout {
            flex: 1;
        }
        p {
            flex: 2;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 2.5rem, 2.5rem, #292733);
        }
        .img-wrapper {
            flex: 1;
            img {
                display: block;
                float: right;
                width: 2.3rem;
                height: 2.3em;
            }
        }
    }
    .main-info {
        text-align: center;
        font-weight: bold;
        @include font-face(NotoSansKR-Regular, 1.8rem, 2.5rem, #292733);
        margin-bottom: 2rem;
    }
    .player-wrapper {
        width: 80%;
        margin: auto;
    }
    .manualpage-content {
        display: flex;
        flex-direction: column;
        .function-info {
            h3 {
                padding-top: 2rem;
                text-align: left;
                font-weight: bold;
                @include font-face(NotoSansKR-Regular, 1.7rem, 2.5rem, #292733);
            }
            .bus-info1 {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            h4 {
                padding-left: 2rem;
                padding-top: 2rem;
                text-align: left;
                font-weight: bold;
                @include font-face(
                    NotoSansKR-Regular,
                    1.5rem,
                    2.5rem,
                    #292733
                );
            }
            .bus-info2 {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            .taxi-info1 {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                padding-bottom: 1.5rem;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            .taxi-info2 {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                padding-bottom: 1.5rem;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            .taxi-info3 {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                padding-bottom: 1.5rem;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            .taxi-info4 {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                padding-bottom: 1.5rem;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            .taxi-info5 {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                padding-bottom: 1.5rem;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            .community-header {
                padding-top: 0.5rem;
            }
            .community-info {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            .ban-info {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
        }
    }
}
