@import '../../styles/utils.scss';

.manualpage-wrapper {
    .manualpage-header {
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        p {
            flex: 1;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 2.5rem, 2.5rem, #292733);
        }
        img {
            padding-right: 3rem;
            width: 2.3rem;
            height: 2.3em;
        }
    }
    .manualpage-content {
        display: flex;
        flex-direction: column;
        .main-info {
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 1.8rem, 2.5rem, #292733);
        }
        .function-info {
            h4 {
                font-weight: bold;
                @include font-face(NotoSansKR-Regular, 1.5rem, 2.5rem, #292733);
            }
            h3 {
                padding-left: 2rem;
                padding-top: 2rem;
                text-align: left;
                font-weight: bold;
                @include font-face(NotoSansKR-Regular, 1.7rem, 2.5rem, #292733);
            }
            .community-header {
                padding-top: 0.5rem;
            }
            .bus-info {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
            .taxi-info {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
                p {
                    padding-bottom: 1.5rem;
                }
            }
            .community-info {
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: left;
                @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #292733);
            }
        }
    }
}