@import '../../styles/utils.scss';
.chattinglist-wrapper {
    padding: 1rem 3rem;
    margin-bottom: 6.4rem;
    li {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #a19fad;
        @include font-face('NotoSansKR-Medium', 1.5rem, 0, #000000);
        .img-wrapper {
            height: 100%;
            img {
                display: block;
                height: 100%;
            }
        }
    }
    .non-chat-wrapper {
        height: 70vh;
        min-height: 33rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .content-wrapper {
            img {
                display: block;
            }
            p {
                text-align: center;
                @include font-face('NotoSansKR-Bold', 1.3rem, 0, #a19fad);
            }
        }
    }
}
