.chatingtestpage-wrapper {
    overflow: hidden;
    .chat-header {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid black;
        div {
            width: 50%;
            margin: auto;
            height: 3.6rem;
            padding: 10px 0;
            border-radius: 1.2rem;
            background-color: #7b88f2;
            color: white;
            text-align: center;
            font-family: NotoSansKR;
            font-size: 18px;
            font-weight: 500;
        }
        img {
            display: block;
            height: 50%;
        }
    }
    .chat-body {
        height: 60%;
        .my {
            width: 210px;
            padding: 15px 41.2px 15px 48.2px;
            border-radius: 12px;
            background-color: yellow;
            float: right;
            margin: 1rem 0;
            ::after {
                display: block;
                clear: both;
            }
        }
        .not-mine {
            float: left;
            width: 210px;
            padding: 15px 41.2px 15px 48.2px;
            border-radius: 12px;
            background-color: #e0e0e0;
            margin: 1rem 0;
            ::after {
                display: block;
                clear: both;
            }
        }
    }
    .user-input {
        position: fixed;
        bottom : 0px; 
        height: 20%;
        z-index: 1;
    }
}