@import '../../styles/utils.scss';

.lostitemdetailpage-wrapper {
    padding: 2rem 2rem 5rem 2rem;
    .lostitemdetailpage-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .img {
            flex: 1;
            display: block;
            width: 1.938rem;
            height: 1.938rem;
        }
        div {
            flex: 1;
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Bold, 1.7rem, 0rem, #000000);
        }
        .menu {
            display: block;
        }
    }
    .lostitemdetailpage-content {
        display: flex;
        flex-direction: column;
        .lostitemdetailpage-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .header {
                flex: 1;
                margin-top: 2rem;
                display: flex;
                flex-direction: row;
                border-radius: 5px;
                background-color: #efecff;
                text-align: center;
                font-weight: bold;
                @include font-face(NotoSansKR-Regular, 1.5rem, 2.5rem, #292733);
                .date {
                    flex: 1;
                }
                .item {
                    flex: 1;
                }
                .place {
                    flex: 1;
                }
            }
            .content {
                flex: 1;
                margin-bottom: 2rem;
                text-align: left;
                margin-top: 1rem;
                @include font-face(NotoSansKR-Regular, 1.7rem, 2.5rem, #292733);
            }
            .item-picture {
                flex: 1;
                margin: 0;
                border: 0.5rem solid #7b88f2;
                border-radius: 2rem;
                align-items: center;
                text-align: center;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                }
            }
        }
    }
}
