@import '../../styles/utils.scss';

.taxipage-wrapper {
    padding: 1.5rem 3.1rem 0rem 3.1rem;
    .taxi-logo-box {
        padding: 1.5rem 0 1rem 0;
        width: 100%;
        img {
            display: block;
            margin: auto;
            width: 8rem;
        }
        border-bottom: 1px solid black;
    }
    .taxi-info-wrapper {
        padding-top: 2rem;
        .taxi-place-box {
            position: sticky;
            top: 0;
            background-color: white;
            @include font-face(
                'NotoSansKR-Medium',
                1.8rem,
                1rem,
                rgba(0, 0, 0, 0.8)
            );
            display: flex;
            justify-content: space-between;
            div:nth-child(1) {
                flex: 2;
            }
            div:nth-child(2) {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                img {
                    display: block;
                }
                img:nth-child(1) {
                    margin-right: 1rem;
                }
            }
        }
        .taxi-party-list {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .none-data {
                width : 100%;
                margin-top: 4rem;
                img {
                    display: block;
                    margin: auto;
                }
                p {
                    @include font-face(
                        'NotoSansKR-Medium',
                        1.5rem,
                        0rem,
                        #a19fad
                    );
                    text-align: center;
                }
            }
        }
    }
    .add {
        z-index: 1;
        display: block;
        position: fixed;
        right: 3.1rem;
        bottom: 3.1rem;
    }
}
