@import '../../styles/utils.scss';
.buspage-wrapper {
    padding: 1.5rem 3.1rem 2rem 3.1rem;
    overflow: hidden;
    .bus-logo-box {
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        div {
            flex: 1;
        }
        div:nth-child(2) {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img:nth-child(1) {
                width: 70%;
                max-width: 7rem;
            }
        }
        div:nth-child(3) {
            text-align: right;
            p {
                text-align: right;
                @include font-face('NotoSansKR-Bold', 1.5rem, 0, #000000);
            }
            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
    .gototaxi {
        margin-top: 7.5rem;
        width: 100%;
        background: #7b88f2;
        border-radius: 1.2rem;
        padding: 2.3rem 0;
        @include font-face('NotoSansKR-Regular', 1.6rem, 0, #fff);
    }
}
