.loadingpage-wrapper{
    img{
        display: block;
        width : 70%;
        margin : auto; 
        animation : loginloading 2s infinite; 
    }
}

@keyframes loginloading {
    0% {
        position: absolute;
        left : 50%;
        bottom: 0%;
        transform: translate(-50%,0);
        opacity: 0.5;
    }
    50%{
        position: absolute;
        left : 50%; 
        bottom: 20%;
        transform: translate(-50%,0);
        opacity: 1;
    }
    100%{
        position: absolute;
        left : 50%; 
        transform: translate(-50%,0);
        bottom: 0%;
        opacity: 0.5;
    }
}
