@import '../../styles/utils.scss';

.lostitemwritepage-wrapper {
    padding: 4.6rem 3.1rem;
    .lostitemwritepage-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .img {
            flex: 1;
            display: block;
            width: 1.938rem;
            height: 1.938rem;
        }
        div {
            flex: 1;
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 1.7rem, 2.5rem, #292733);
        }
        button {    
            display: block;
            border-radius: 5px;
            padding: 0.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            background-color: #7b88f2;
            text-align: center;
            @include font-face(NotoSansKR-Regular, 0.5rem, 2.5rem, #ffffff);
        }
    }
    .lostitemwritepage-content {
        .item-hash {
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 0.5rem;
            border-bottom: 0.063rem solid #A19FAD;
            text-align: left;
            margin-bottom: 0rem;
            @include font-face(NotoSansKR-Regular, 1.4rem, 2.5rem, #A19FAD);
        }
        .place-hash {
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 0.5rem;
            border-bottom: 0.063rem solid #A19FAD;
            text-align: left;
            margin-bottom: 0rem;
            margin-top: 0rem;
            @include font-face(NotoSansKR-Regular, 1.4rem, 2.5rem, #A19FAD);
        }
        .content {
            padding-left: 0.5rem;
            text-align: left;
            @include font-face(NotoSansKR-Regular, 1.5rem, 2.5rem, #A19FAD);
        }
    }

    .picture{
        z-index: 1;
        display: block;
        position: fixed;
        left : 3.1rem;
        bottom : 3.1rem;
    }
}