@import '../../styles/utils.scss';

.lostitemwritepage-wrapper {
    padding: 1.9rem 3.1rem;
    .lostitemwritepage-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .img {
            flex: 1;
            display: block;
            width: 1.938rem;
            height: 1.938rem;
        }
        div {
            flex: 1;
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 1.7rem, 2.5rem, #292733);
        }
        button {
            display: block;
            border-radius: 5px;
            padding: 0.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            background-color: #7b88f2;
            text-align: center;
            @include font-face(NotoSansKR-Regular, 1.3rem, 2.5rem, #ffffff);
        }
    }
    .lostitemwritepage-content {
        margin-top: 3rem;
        .item-hash {
            width: 100%;
            border: none;
            padding-bottom: 1rem;
            padding-top: 2rem;
            padding-left: 0.5rem;
            border-bottom: 0.063rem solid #a19fad;
            text-align: left;
            margin-bottom: 0rem;
            @include font-face(NotoSansKR-Regular, 1.4rem, 2.5rem, #a19fad);
        }
        .place-hash {
            width: 100%;
            border: none;
            padding-bottom: 1rem;
            padding-top: 2rem;
            padding-left: 0.5rem;
            border-bottom: 0.063rem solid #a19fad;
            text-align: left;
            margin-bottom: 0rem;
            margin-top: 0rem;
            @include font-face(NotoSansKR-Regular, 1.4rem, 2.5rem, #a19fad);
        }
        .content {
            width: 100%;
            margin-top: 2rem;
            width: 100%;
            border: none;
            resize: none;
            height: 20rem;
            @include font-face(NotoSansKR-Regular, 1.5rem, 2.5rem, #a19fad);
        }
        .content-limit {
            text-align: right;
            @include font-face(NotoSansKR-Regular, 1.5rem, 2.5rem, #000000);
        }
    }

    .preview-wrapper {
        position: relative;
        width: 10rem;
        height: 10rem;
        .preview-image {
            border: 2px solid #7b88f2;
            position: absolute;
            display: block;
        }
        .preview-cancel {
            position: absolute;
            top: 0;
            right: 0;
            img {
                display: block;
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .picture {
        z-index: 1;
        display: block;
        position: fixed;
        width: 5rem;
        height: 5rem;
        left: 3.1rem;
        bottom: 3.1rem;
    }
}
