@font-face {
  font-family: 'NotoSansKR-Bold';
  src: url(./fonts/NotoSansKR-Bold.otf);
}

@font-face {
  font-family: 'NotoSansKR-Medium';
  src: url(./fonts/NotoSansKR-Medium.otf);
}

@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url(./fonts/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: 'NotoSansKR-Light';
  src: url(./fonts/NotoSansKR-Light.otf);
}

@font-face {
  font-family: 'NotoSansKR-Black';
  src: url(./fonts/NotoSansKR-Black.otf);
}

@font-face {
  font-family: 'NotoSansKR-Thin';
  src: url(./fonts/NotoSansKR-Thin.otf);
}

.signuppage-wrapper {
  padding: 4.6rem 3.1rem;
}

.signuppage-wrapper .signup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signuppage-wrapper .signup-header img {
  display: block;
  width: 9.4rem;
}

.signuppage-wrapper .signup-header div {
  padding: 0 0 0 1.2rem;
  text-align: center;
  font-family: NotoSansKR-Regular;
  font-size: 2.4rem;
  line-height: 2.5rem;
  color: #292733;
}

.signuppage-wrapper .signup-middle {
  padding: 1.3rem 0 0 0.5rem;
}

.signuppage-wrapper .signup-middle p {
  font-family: NotoSansKR-Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #292733;
}

.signuppage-wrapper .signup-middle div {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signuppage-wrapper .signup-middle div input {
  width: 50%;
  height: 2.8rem;
  border: 1px solid #a19fad;
}

.signuppage-wrapper .signup-middle div p {
  margin-left: 0.6rem;
  font-family: NotoSansKR-Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #000000;
}

.signuppage-wrapper .signup-middle .student-id-btn {
  margin-top: 3rem;
  width: 100%;
  height: 4rem;
  background: #7b88f2;
  border-radius: 1.2rem;
  font-family: NotoSansKR-Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #ffffff;
}

.signuppage-wrapper .signup-bottom {
  padding: 6.5rem 0 0 0.5rem;
}

.signuppage-wrapper .signup-bottom p {
  font-family: NotoSansKR-Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #292733;
}

.signuppage-wrapper .signup-bottom div {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signuppage-wrapper .signup-bottom div input {
  width: 50%;
  height: 2.8rem;
  border: 1px solid #a19fad;
}

.signuppage-wrapper .signup-bottom div p {
  margin-left: 3.4rem;
  font-family: NotoSansKR-Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #ff4a4a;
}

.signuppage-wrapper .signup-bottom .student-id-btn {
  margin-top: 3rem;
  width: 100%;
  height: 4rem;
  background: #7b88f2;
  border-radius: 1.2rem;
  font-family: NotoSansKR-Regular;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #ffffff;
}
/*# sourceMappingURL=SignUpPage.css.map */