@import '../../styles/utils.scss';

.homepage-inner-wrapper{
    width : 100%;
    padding : 10rem 1.6rem;
    img {
        display: block;
        width : 80%;
        margin : auto;
    }  
    .homepage-top-line{
        display: flex;
    }
    .homepage-bottom-line{
        margin-top : 3.5rem;
        display: flex;
    }
}