@import '../../../styles/utils.scss';
.mechatbox-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 2.5rem;
    .time {
        font-family: 'NotoSansKR-Medium';
        font-size: 1rem;
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .content {
        position: relative;
        padding: 1.1rem;
        max-width: 70%;
        background: #e0e0e0;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        border-radius: 1rem;
        font-family: 'NotoSansKR-Medium';
        font-size: 1.3rem;
        color: black;
        line-height: 1.6rem;
        word-break: break-all;
    }

    .content:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent #e0e0e0;
        display: block;
        width: 0;
        z-index: 1;
        right: -1rem;
        top: 20%;
    }
}
