@import '../../styles/utils.scss';

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lostitempage-wrapper {
    padding: 2rem 2rem 1.9rem 2rem;
    .lostitempage-header {
        @extend %center;
        .arrow-wrapper {
            flex: 1;
            img {
                display: block;
                height: 100%;
            }
        }
        .title {
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 2.5rem, 2.5rem, #292733);
        }
        div {
            flex: 1;
        }
    }
    .lost-icon-wrapper {
        padding-top: 2rem;
        position: sticky;
        top: -0.1rem;
        background-color: white;
        z-index: 1;
        width: 100%;
        .lost-icon {
            display: block;
            margin: auto;
            height: 8rem;
        }
    }

    .lostitempage-content {
        padding-top: 2rem;
        li:first-child {
            position: sticky;
            top: 9.8rem;
            background-color: white;
            z-index: 1;
        }
        .nodata {
            width: 100%;
            margin-top: 6rem;
            img {
                display: block;
                margin: auto;
            }
            p {
                text-align: center;
                @include font-face('NotoSansKR-Bold', 1.3rem, 0, #a19fad);
            }
        }
        li {
            display: flex;
            border-bottom: 0.063rem solid #a19fad;
            justify-content: space-between;
            font-size: 1.5rem;
            font-family: 'NotoSansKR-Medium';
            color: #000000;
            text-align: center;
            .picture {
                flex: 1;
                @extend %center;
                padding: 0.5rem 0;
                img {
                    display: block;
                    border: 3px solid #7b88f2;
                    border-radius: 2rem;
                    width: 5rem;
                    height: 5rem;
                }
                .non-picture {
                    width: 5rem;
                    height: 5rem;
                    border: 3px solid #7b88f2;
                    border-radius: 2rem;
                }
            }
            .date {
                flex: 1;
                @extend %center;
            }
            .item {
                flex: 1;
                @extend %center;
            }
            .place {
                flex: 1;
                @extend %center;
            }
        }
    }
    .add {
        z-index: 1;
        display: block;
        position: fixed;
        right: 3.1rem;
        bottom: 3.1rem;
    }
}
