@import '../../styles/utils.scss';

.notificationpage-wrapper {
    padding: 4.6rem 3.1rem;
    .notificationpage-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        .img {
            padding: 0.813rem;
            display: block;
            width: 1.938rem;
            height: 1.938rem;
        }
        div {
            padding: 0 0 0 10rem;
            text-align: center;
            @include font-face(NotoSansKR-Regular, 1.875rem, 2.5rem, #292733);
        }
    }
}