@import '../../styles/utils.scss';

.refusaltaxisharepage-wrapper {
    padding: 2rem 3.1rem;
    .refusaltaxisharepage-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .img {
            flex: 1;
            display: block;
            width: 1.938rem;
            height: 1.938rem;
        }
        div {
            flex: 1;
            text-align: center;
            font-weight: bold;
            @include font-face(NotoSansKR-Regular, 2.5rem, 2.5rem, #292733);
        }
    }

    .no-list-wrapper {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
            font-family: 'NotoSansKR-Bold';
            font-size: 1.3rem;
            color: #A19FAD;
        }
    }

    .headcount-text {
        padding-top: 5rem;
        text-align: left;
        @include font-face(NotoSansKR-Regular, 1.2rem, 2.5rem, #a19fad);
    }
    .refusaltaxisharepage-content {
        display: flex;
        flex-direction: column;
        padding-top: 2.5rem;
        div {
            padding-bottom: 2rem;
            text-align: left;
            @include font-face(NotoSansKR-Regular, 1.2rem, 2.5rem, #a19fad);
        }
        .refusal-list {
            display: flex;
            flex-direction: row;
            border-bottom: 0.063rem solid #a19fad;
            padding-bottom: 0;
            justify-content: space-around;
            align-items: center;
            padding: 0 1rem;
            p {
                flex: 1;
                font-family: 'NotoSansKR-Regular';
                font-size: 1.5rem;
            }
            button {
                padding: 0.5rem 2rem;
                border-radius: 1.2rem;
                background-color: #f1f1e6;
                text-align: center;
                font-weight: bold;
                font-family: 'NotoSansKR-Regular';
                font-size: 1.3rem;
            }
        }
    }
}
