.taxicard-wrapper {
    width: 13.5rem;
    padding: 0.1rem 0;
    border-radius: 1rem;
    text-align: center;
    color: white;
    background-color: #7b88f2;
    font-family: 'NotoSansKR-Regular';
    font-size: 1.8rem;
}
