%taxicard-wrapper {
    width: 45%;
    margin-bottom: 2.5rem;
    padding: 0.1rem 0;
    border-radius: 1rem;
    text-align: center;
    color: white;
    font-family: 'NotoSansKR-Regular';
    font-size: 1.8rem;
}

.enter-party {
    border: 0.35rem solid coral;
}
.taxicard-not-end-wrapper {
    @extend %taxicard-wrapper;
    background-color: #7b88f2;
}

.taxicard-soon-end-wrapper {
    @extend %taxicard-wrapper;
    background-color: #1a2962;
    animation-name: soon-end;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.taxicard-end-wrapper {
    @extend %taxicard-wrapper;
    background-color: coral;

}

@keyframes soon-end {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
